In [8]:
s1 = {1, 2, 5, 6}
s2 = {3, 6, 7}
print(s1.union(s2)) # to perform union() operation
print(s1, s2) # union() function doen't alter the existing sets
s1.update(s2) # update() will perform the union and update the set
print(s1)

{1, 2, 3, 5, 6, 7}
{1, 2, 5, 6} {3, 6, 7}
{1, 2, 3, 5, 6, 7}

In [13]:
s1 = {1, 2, 3, 5, 6}
s2 = {3, 6, 7}
print(s1.intersection(s2)) # to perform intersection of sets
print(s1, s2)
s1.intersection_update(s2) # intersection_update() updates the set
print(s1)

{3, 6}
{1, 2, 3, 5, 6} {3, 6, 7}
{3, 6}

Symmetric difference: All the values which are not common in the two sets

In [17]:
s1 = {1, 2, 3, 5, 6}
s2 = {3, 6, 7}
print(s1.symmetric_difference(s2))
print(s1)

{1, 2, 5, 7}
{1, 2, 3, 5, 6}

difference() and difference_update()

In [19]:
s1 = {1, 2, 3, 5, 6}
s2 = {3, 6, 7}
print(s1.difference(s2))
print(s1)
s1.difference_update(s2)
print(s1)

{1, 2, 5}
{1, 2, 3, 5, 6}
{1, 2, 5}

# disjoint()
disjoint sets have no elements in common

In [21]:
s1 = {1, 2, 3, 5, 6}
s2 = {3, 6, 7}
print(s1.isdisjoint(s2))

s1 = {1,2,3}
s2 = {4,5,6}
print(s1.isdisjoint(s2))

False
True

# issuperset()
this method checks if all the items of a particular set are present in the original set.

In [23]:
s1 = {1, 2, 3, 5, 6}
s2 = {3, 6}
print(s1.issuperset(s2))

s1 = {1, 2, 3, 5, 6}
s2 = {3, 6, 7}
print(s1.issuperset(s2))

True
False

In [24]:
s1 = {1, 2, 3, 5, 6}
s2 = {3, 6}
print(s2.issubset(s1))

s1 = {1, 2, 3, 5, 6}
s2 = {3, 6, 7}
print(s2.issubset(s1))

True
False

# add()
to add an element to the set

In [26]:
cities = {'Tokyo', 'Madrid', 'Berlin', 'Delhi'}
cities.add('Helsinki')
print(cities)

# to add more than 1 element update() can be used
cities.update(('Mumbai', 'Kolkata', 'Bhopal'))
print(cities)

{'Delhi', 'Berlin', 'Tokyo', 'Madrid', 'Helsinki'}
{'Delhi', 'Bhopal', 'Berlin', 'Tokyo', 'Kolkata', 'Madrid', 'Mumbai', 'Helsinki'}

# remove()/discard()
do delete/remove an element from the set

In [34]:
cities = {'Delhi', 'Bhopal', 'Berlin', 'Tokyo', 
          'Kolkata', 'Madrid', 'Mumbai', 'Helsinki'}
cities.discard('Bhopal')
print(cities)
cities.discard('Bhopal')

None
{'Delhi', 'Berlin', 'Tokyo', 'Kolkata', 'Madrid', 'Mumbai', 'Helsinki'}
None

In [35]:
cities = {'Delhi', 'Bhopal', 'Berlin', 'Tokyo', 
          'Kolkata', 'Madrid', 'Mumbai', 'Helsinki'}
cities.remove('Bhopal')
print(cities)
cities.remove('Bhopal') # the main difference b/w remove() and discard() is that, if we try to delete
                        # an element which is not present in the set remove() throws and error while discard() doesn't.

None
{'Delhi', 'Berlin', 'Tokyo', 'Kolkata', 'Madrid', 'Mumbai', 'Helsinki'}

KeyError: 'Bhopal'

# pop()
returns and deletes the last element from the set, but as the sets are unordered, it will delete any element on random.

In [60]:
cities = {'Delhi', 'Bhopal', 'Berlin', 'Tokyo', 
          'Kolkata', 'Madrid', 'Mumbai', 'Helsinki'}
print(cities.pop())

Delhi

# del keyword
to delete a variable

In [61]:
cities = {'Delhi', 'Bhopal', 'Berlin', 'Tokyo', 
          'Kolkata', 'Madrid', 'Mumbai', 'Helsinki'}
del cities
print(cities)

NameError: name 'cities' is not defined

# clear()
to delete all the elements from the set

In [62]:
cities = {'Delhi', 'Bhopal', 'Berlin', 'Tokyo', 
          'Kolkata', 'Madrid', 'Mumbai', 'Helsinki'}
cities.clear()
print(cities)

set()

In [64]:
cities = {'Delhi', 'Bhopal', 'Berlin', 'Tokyo', 
          'Kolkata', 'Madrid', 'Mumbai', 'Helsinki'}
if 'Delhi' in cities:
    print('Delhi exist in cities')

Delhi exist in cities