In [1]:
import pandas as pd
import numpy as np

In [2]:
mydata = ['boat', 'car', 'bike', 'Truck']
myseries = pd.Series(mydata)

In [3]:
print(myseries)

0     boat
1      car
2     bike
3    Truck
dtype: object

In [22]:
mydata = np.random.randint(20, size=(20))
myseries1 = pd.Series(mydata)
print(myseries1)
print(myseries.dtype)

0      3
1      3
2     12
3      7
4      6
5     16
6     19
7      4
8      1
9      2
10    16
11     5
12    19
13     3
14     2
15     0
16     0
17     7
18     9
19    17
dtype: int32
object

# DataFrame

In [15]:
mydfdata = [('boat', 1), ('car', 55), ('bike', 99), ('Truck',43)]
mydf = pd.DataFrame(mydfdata, columns=['thing', 'count'])
display(mydf)

   thing  count
0   boat      1
1    car     55
2   bike     99
3  Truck     43

In [24]:
display(mydf['thing'])

display(mydf['count'])

print(type(mydf['thing']))
print(type(mydf['thing']))

mydf.dtypes

0     boat
1      car
2     bike
3    Truck
Name: thing, dtype: object

0     1
1    55
2    99
3    43
Name: count, dtype: int64

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

thing    object
count     int64
dtype: object

# Reading in Data

In [26]:
df = pd.read_csv('C:\\Users\\prem2\\Downloads\\archive\\MrBeast_youtube_stats.csv')
# make sure to use double slash